# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads / Datasets
backend/uploads/

# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
.pytest_cache/